@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --transition: all 400ms ease;
  --primary-btn-color: #0672cb;
  --primary-btn-hover: #fff;
  --secondary-btn-hover: #1c8eec;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

