.navbar_container {
  border-bottom: 1px solid #979191;
  margin-top: 10px;
  position: relative;
}
.navbar_sec_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-right: 20px;
}
.navbar_heading,
.navbar_heading2,
.navbar_heading3,
.navbar_heading1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-weight: 500;
  padding: 9px 15px;
}

.navbar_items :hover {
  background-color: #e2e8f0;
}
.signup {
  background-color: #fff;
  width: 300px;
}
.signup:hover {
  background-color: #fff;
}
.mobile_navbar {
  display: none;
}
@media all and (min-width: 728px) and (max-width: 1250px) {
  .navbar_heading2,
  .navbar_heading1 {
    display: none;
  }
  .navbar_container {
    margin-top: 10px;
  }
}

@media all and (min-width: 338px) and (max-width: 728px) {
  .navbar_heading2,
  .navbar_heading1 {
    display: none;
  }
  .navbar_container {
    margin-top: 10px;
  }
  .navbar_sec_2 {
    display: none;
  }
  .navbar_heading > div:nth-child(2),
  .navbar_heading3 > div:nth-child(2) {
    display: none;
  }
  .navbar_heading,
  .navbar_heading3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    font-weight: 500;
    padding: 0;
  }
  .searchbar {
    display: none;
  }
  .mobile_navbar {
    display: flex;
    margin: 10px 9px;
  }
}
